.filter-buttons .fungi a {
    background: transparent url(../images/ala/fungi_button_bgwd.png) no-repeat;
    background-size: 100%;
}

.btn-toolbar ul.btn-group { padding-left:0px; }

.btn-toolbar { margin-bottom: 20px; }